{% extends "base.html" %}

{% block content %}   
    <header>
        <h1>Edit page</h1>
        
        <!-- Navigation -->
        <a href="{{ url_for('home_page') }}" class="btn btn-dark">Home</a>
        <a href="{{ url_for('delete') }}" class="btn btn-dark">Delete</a>
        <a href="{{ url_for('view') }}" class="btn btn-dark">Search</a>
        
    </header>
    <!-- The form -->
    <form action="{{ url_for('edit', editID=editID) }}" method="POST">
        <p><strong>Input information below.</strong></p>
        <p>{{ message }}</p>
        {% for field in form %}
            <div class="form-group">
                {{ field.label() }}
                {{ field(class="form-control") }}
            </div>
        {% endfor %}
        <a href="{{ url_for('home_page') }}" class="btn btn-dark">Cancel</a>
        <button class="btn btn-dark">Submit</button>
    </form>
    <li>{{item}}</li>
{% endblock %}