{% extends "base.html" %}

{% block content %}   
    <header>
        <h1>Home page</h1>
      
        <!-- Navigation -->
        <a href="{{ url_for('view') }}" class="btn btn-dark">Search</a>
        <a href="{{ url_for('item_create') }}" class="btn btn-dark">Add</a>
        <a href="{{ url_for('delete') }}" class="btn btn-dark">Delete</a>
        <a href="{{ url_for('shipment') }}" class="btn btn-dark">Shipment</a>
    </header>

    <!-- The form -->
    <form action="{{ url_for('home_page') }}" method="POST">
        {% for field in form %}
            <div class="form-group">
                {{ field.label() }}
                {{ field(class="form-control",required='required') }}
            </div>
        {% endfor %}
        <button class="btn btn-dark">Edit</button>
    </form>
    {% for item in items %}
    <li>{{item}}</li>
    {% endfor %}
{% endblock %}