{% extends "base.html" %}

{% block content %}   
    <header>
        <h1>Search page</h1>
    
        <!-- Navigation -->
        <a href="{{ url_for('home_page') }}" class="btn btn-dark">Home</a>
        <a href="{{ url_for('item_create') }}" class="btn btn-dark">Add</a>
        <a href="{{ url_for('delete') }}" class="btn btn-dark">Delete</a>
    </header>

    <!-- The form -->
    <form action="{{ url_for('view') }}" method="POST">
        {% for field in form %}
            <div class="form-group">
                {{ field.label() }}
                {{ field(class="form-control") }}
            </div>
        {% endfor %}
        <button class="btn btn-dark">Submit</button>
    </form>
    {% for item in items %}
    <li>{{item}}</li>
    {% endfor %}
{% endblock %}